.main-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

<<<<<<< HEAD
.credits-background {
    background-image: url('./skeleton.webp');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

=======
>>>>>>> 00aec7dc520bd31cc6d3e5068df306dae2910317
.buttons-row {
    margin-top: 1rem;
    row-gap: 2rem;
}

.start-button {
    margin-right: 2rem;
}

.credits-button {
    margin-left: 2rem;
}

<<<<<<< HEAD
.picture {
=======
.picture{
>>>>>>> 00aec7dc520bd31cc6d3e5068df306dae2910317
    height: 400px;
    width: 400px;
}