.monster-stats {
    display: flex;
    flex-grow: 1;
    
}

.vitals {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;

}

.leftAlign {
    display: flex;
    align-content: start;

    
}
.statText {
    margin-left: 2px;
    color: rgb(241, 236, 106);
}