.monster-stats {
    display: flex;
    float: left;

}

.vitals {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container {
    display: flex;
    text-align: left;
}

.leftAlign {
    flex-direction: column;
    margin-left: 8px;
}

#leftMargin {
    margin-left: 5px;
}