.player-stats {
    display: flex;
    flex-flow: column wrap;
    float: right;

}

.vitals {
    display: flex;
    flex-direction: column;

}

.container {
    display: flex;
    text-align: left;
}

.leftAlign {
    flex-direction: column;
    align-content: flex-start;
    margin-left: 10px;
}

#leftMargin {
    margin-left: 120px;
}

h2 {
    margin-left: 120px;
}