.todo-container { 
  background-color: #aaa5a5;
  color: #221d1d;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
  font-family: 'Courier', monospace;
}

.todo-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.0em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.todo-list {
  list-style-type: none; /* Remove bullets */
  padding: 0;
}

.todo-item {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier', monospace;
}

#Del {
  background-color: #1a1010;
  color: #fff;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10px;
}

.todo-checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  accent-color: green; /* Green checkmark */
}

.priority-high {
  background-color: #ff6666; /* Red for high */
}

.priority-medium {
  background-color: #ffb066; /* Yellow for medium */
}

.priority-low {
  background-color: #114d3b; /* Green for low */
}

.congrats-message {
  background-color: #114d3b;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
